* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: montserrat, sans-serif;
}

input, button{
    appearance: none;
    background: none;
    border: none;
    outline: none;
}

.App{
    height: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #53565A;
}

/* LOGIN PAGE */

form{
    display: flex;
    position: relative;
    margin: auto;
    justify-content: center;
    align-items: center;
}

form::after{
    content: '';
    position: absolute;
    top: -5px;
    left: -5px;
    right: -5px;
    bottom: -5px;
    z-index: 1;
    background-image: linear-gradient(to bottom right, #FFCE00, #FE4880);
}

form .form-inner{
    position: relative;
    display: block;
    background-color: white;
    padding: 30px;
    z-index: 2;
}

form .form-inner h2{
    color: #888;
    font-size: 28px;
    font-weight: 500;
    margin-bottom: 30px;
}

form .form-inner .form-group{
    display: block;
    width: 300px;
    margin-bottom: 15px;
}

.form-inner .form-group label{
    display: block;
    color: #666;
    font-size: 12px;
    margin-bottom: 5px;
    transition: 0.4s;
}

.form-inner .form-group:focus-within label{
    color: #FE4880;
}

form .form-inner .form-group input{
    display: block;
    width: 100%;
    padding: 10px 15px;
    background-color: #FAFAFA;
    border-radius: 8px;
    transition: 0.4s;
}

form .form-inner .form-group input:focus{
     box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.2);
}

form .form-inner input[type="submit"], .welcome button{
    display: inline-block;
    padding: 10px 15px;
    border-radius: 8px;
    background-image: linear-gradient(to right, #FFCE00 50%, #FE4880);
    background-size: 200%;
    background-position: 0%;
    transition: 0.4s;
    color: #FFF;
    font-weight: 700;
    cursor: pointer;
}

form .form-inner input[type="submit"]:hover, .welcome button:hover{
    background-position: 100% 0%;
}

/* SUPERVISOR PAGE */

.welcome-bar{
    height: 67px;
}

.error{
    margin-top: 10px;
    display: flex;
    justify-content: center;
}


.terms-container{
    display: flex;
}

.terms-list-right{
    background-image: linear-gradient(to top left, #FFCE00, #FE4880);
    min-width: 227px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    align-items: center;
    padding-top: 100px;
}

.next-page{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    border: 2px solid transparent;
    border-radius: 80px;
    padding: 10px 20px;
    transition: all 0.3s ease-in-out;
}

.next-page:hover{
    cursor: pointer;
    border-color: #53565A;
}

.left{
    display: flex;
    flex-direction: column;
}

.welcome-bar{
    display: flex;
    background-image: linear-gradient(to right, #FFCE00, #FE4880);
    margin-bottom: 150px;
    width: 100%;
    height: 67px;
    justify-content: center;
    align-items: center;
}

.all-terms{
    display: flex;
    justify-content: flex-end;
    margin-right: 10px;
}

.terms{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.term-item{
    width: 578px;
    height: 85px;
    background-color: #F2F2F2;
    margin: 10px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

.see-more{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 10px;
    margin: auto;
    padding: 10px;
    background-color: #666;
    border-radius: 3px;
}

.see-more{
    cursor: pointer;
    background-color: #888;
}


